@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
  line-height: 1.6;
  font-size: 18px;
  background-image: conic-gradient(rgb(22, 31, 86), rgb(66, 117, 235));;
  color: white;
}

* {
  box-sizing: border-box;
}


a {
  color: #04ff00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


img {
  max-width: 100%;
  display: block;
}