.container {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4rem 2rem;
  .navStyle{
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }
}