.navbar {
    background-color: #eaeaeae7;
    overflow: hidden;
    margin-bottom: 0;
    .nav {
        display: flex;
        justify-content: right;
        list-style-type: none;
        margin: 0;
        padding: 0;
        .item {
            margin-right: 1rem;
            .link {
                color: #000;
                display: block;
                padding: 1rem;
                text-align: center;
                text-decoration: none;
            }

            .link:hover {
                cursor:pointer;
            }
        }

    }

}