@font-face {
  font-family: "AnchoGX";
  src: url("/fonts/AnchoGX.ttf");
}

.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 200;
    letter-spacing: -0.05rem;
    font-family: "AnchoGX", sans-serif;
    margin: 1rem 0;
  }
.linethrough{
  text-decoration: line-through;
}
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #999;
  }
  
  .animatedText {
    margin:0;
    padding:0;
    position: fixed;
  
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: left;
  
    font-family: "AnchoGX", sans-serif;
    font-weight: 100;
    font-size: 8vw;
    line-height: 8vw;
    font-variation-settings: 'wght' 100;
    animation: breathe 10000ms infinite forwards;
  }
  
@keyframes breathe {
  60% {
    font-variation-settings: 'wght' 700;
  }
  
  100% {
    font-variation-settings: 'wght' 100;
  }
}


.contentContainer{
  padding-top: 10rem;
  padding-bottom: 10rem;
}